{% extends "main.html"%}

		{% block logout %}
			<a class="text-right btn btn-danger" href="{{url_for('disconnect')}}">Logout</a>
		{% endblock %}	
		

		{% block catalog %}
		<div class="container">
			<div  id="main-sec">
				<div class="row">
					<div class="col-md-4">
						<div id="categories">
							<h1>Categories</h1>
							<ul>
								{% for c in categories %}
								<li> <a href="{{url_for('showCategoryItems', category_id=c.category_id)}}">{{c.name}}</a> </li>
								{% endfor %}
							</ul>
						</div>
					</div>

					<div class="col-md-8">
						<div id="latest-items">
							<a class="btn btn-primary" href="{{url_for('addItem')}}">Add items</a>
							<h1>Latest Items</h1>
							{% for item in items %}
								<li> {{item.name}} ({{item.category.name}})</li>
							{% endfor %}
						</div>	
					</div>
				</div>
			</div>
		</div>
		{% endblock %}